html, body {
  height: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(246, 244, 228, 1);
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, rgba(20, 190, 20), rgba(222, 137, 1, 1), rgba(249, 204, 0, 1), rgba(4, 184, 0, 1));
    background-size: 4000% 4000%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

li {
    list-style-type: none;
  }

a:focus, a:hover {
    color: rgba(246, 244, 228, 1);
  } 

a:visited {
    color: rgba(88, 47, 0, 1);
}

h1{
    font-size: 300%;
}

img{
    max-height: 100%;
    max-width: 100%;
  }

.container-top {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
  }

.topper {
    background-image: url(yellow_bubbles.jpg);
    display: flex;
    align-items: center;
    text-indent: 100px;
    height: 100px;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  .col-3 {
    text-align: center;
    font-size: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  
  .row {
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content:center;
      margin-right: 5%;
      display: flex;
  }

  .btn-new {
    cursor: pointer;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(88, 47, 0, 1);
    text-align: center;
    border: none;
    border-radius: 16%;
    height: 70px;
    width: 150px;
    box-shadow: 0 5px 15px 0 rgba(246, 244, 228, 1);
    transition: 0.5s;
  }
  
  .btn-new:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(88, 47, 0, 1);
  }

  @media (max-width: 1500px){
    .row{
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .col-3{
        justify-self: center;
    }
  }